PORT=3000
DATABASE_URL="postgresql://jetkvm:jetkvm@localhost:5432/jetkvm?schema=public"

##
## Google Auth with OIDC Configuration
##
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
API_HOSTNAME=
APP_HOSTNAME=

##
## TURN Service: Cloudflare or Coturn
##
CLOUDFLARE_TURN_ID=
CLOUDFLARE_TURN_TOKEN=
# URLs are comma separated, e.g. turn:turn.example.com:3478?transport=udp,turn:turn.example.com:3478?transport=tcp
COTURN_TURN_URLS=
# Coturn use-auth-secret authentication scheme is used (https://datatracker.ietf.org/doc/html/draft-uberti-behave-turn-rest-00)
COTURN_TURN_SECRET=
# TTL is in seconds, default is 3600 seconds (1 hour)
TURN_TTL=

##
## Session Cookie Secret
##
COOKIE_SECRET=

###
### S3 Compatible Storage
###
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_CDN_URL=

# Allowed CORS Origins, split by comma
CORS_ORIGINS=https://app.jetkvm.com,http://localhost:5173

# Allowed account emails, split by comma (leave empty to allow all)
ALLOWED_IDENTITIES=

# Real IP Header for the reverse proxy (e.g. X-Real-IP), leave empty if not needed
REAL_IP_HEADER=

# ICE Servers for WebRTC, split by comma (e.g. stun:stun.l.google.com:19302,stun:stun1.l.google.com:19302)
ICE_SERVERS=
